.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: -16px;
  background: #f5f5f5;
  z-index: 2;
}

.tab-container {
  width: fit-content;
}
